* {
    margin: 0;
    padding: 0;
}

.fds {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100vh;
}

.fds1 {
    border-radius: 10px;
    padding: 60px;
    background-color: #2A8C8A;
    width: 95%;
    height: 95;
}

.fds2 {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.twobox {
    display: "flex";
    flex-direction: "row";
    justify-content: "space-between"
}

.ant-layout-sider .ant-layout-sider-trigger {
    background-color: #145250;
}

.ant-layout-sider .ant-layout-sider-trigger:hover {
    background-color: #1c706d;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(10px);
}

.topchoices {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.topchoices h3 {
    font-size: 24px;
    font-weight: 600;
    color: #145250;
}


.topbooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}


.book-card {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: calc(16.66% - 15px);
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.book-card h5 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 10px 0 5px;
}

.book-card p {
    font-size: 14px;
    color: #777;
    margin: 0;
}


.formdes2 {
    width: 600px;
    box-shadow: 3px 4px 12px 10px rgba(151, 150, 150, 0.1);
}

.formdesign {
    height: 475px;
    box-shadow: 3px 4px 12px 10px rgba(151, 150, 150, 0.1);
    width: 460px;
}

.ant-spin-dot i {
    background-color: #145250 !important;
}

body,
.search,
.ant-modal,
.ant-btn {
    font-family: 'Poppins', sans-serif;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.custom {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.clr {
    color: #145250;
}

.linh {
    line-height: .3;
    margin-top: 10px;
}

.custom-s2earch .ant-input:hover {
    border-color: #145250 !important;
}

.custom-search .ant-btn {
    background-color: #145250;
    border-color: #145250;
}

.custom-search .ant-btn:hover {
    background-color: white !important;
    color: #145250 !important;
    border-color: #145250 !important;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 20px;
}

.TR1 {
    display: flex;
    background-color: #f3f3f3;
    padding: 15px;
    height: 180px;
    width: 24%;
    border-radius: 10px;
}

.TR2 {
    display: flex;
    background-color: #f3f3f3;
    padding: 15px;
    height: 125px;
    width: 19%;
    border-radius: 10px;
}


.highlight-row {
    background-color: rgba(255, 0, 0, 0.2);
}

.pin2 {
    background-color: #f3f3f3;
    color: white;
    width: 80px;
    height: 45px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
    margin-top: 30px;
}

.p0 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.p1 {
    display: flex;
    justify-content: space-between;
}

.p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
}

.pin2d {
    background-color: rgb(255, 255, 255, 0.5);
    color: white;
    width: 80px;
    height: 45px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 30px;
}

.p2d {
    background-color: rgb(255, 255, 255, 0.5);
    color: white;
    width: 55px;
    height: 50px;
    padding: 8px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.bt {
    background-color: #145250;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 14px;
}

.pro {
    box-shadow: 3px 4px 12px 10px rgba(151, 150, 150, 0.1);
    width: 1000px;
    height: 690px;
}

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
}

.mobbt {
    display: none;
}

.profileCard {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: auto;
    position: relative;
}

.profileDetails {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    margin-top: 2rem;
}

.profileTitle {
    color: #145250;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
}

.profileLabel {
    display: flex;
    align-items: center;
    color: #555555;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.profileLabelIcon {
    margin-right: 0.75rem;
    color: #145250;
    font-size: 1.5rem;
}

.profileValue {
    color: #777777;
    margin-top: 0.25rem;
    font-size: 1.25rem;
}

.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.avatar {
    border: 2px solid #145250;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.logoutButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 1rem 1.5rem;
    margin: 0px 40px;
    background-color: #145250;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.logoutButton:hover {
    background-color: #0c3a36;
}


.search.ant-input-outlined:hover {
    border: 1px solid #145250;
}

.search.ant-input-outlined {
    border: 1px solid #c7c7c7;
}


:where(.css-dev-only-do-not-override-qnu6hi).ant-spin .ant-spin-dot-holder {
    color: #145250;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>th {
    text-align: center;
    color: #145250;
}

.mobileHidden {
    height: 100vh;
    background-color: #145250;
}

.mobdraw {
    display: none;
}

.moblogo {
    display: none;
}

.menumobaHidden {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 74px;
}

.navmob {
    display: none;
}

:where(.css-dev-only-do-not-override-ccdg5a).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-ccdg5a).ant-dropdown-menu-submenu .ant-dropdown-menu {
    width: 150px;
    position: absolute;
    right: 15px;
}

.cont {
    margin: 10px;
}


@media screen and (max-width: 768px) {
    .mobileHidden {
        display: none;
    }

    .menumobaHidden {
        display: none;
    }

    .moblogo {
        display: block;
    }

    .mobdraw {
        display: block;
    }

    .mobdraw:hover {
        background-color: #f2f2f2;
    }

    .menu-icon {
        color: #145250;
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .drawer-link {
        width: 260px;
        display: block;
        padding: 10px 20px;
        color: white;
        margin: 3px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;
        line-height: 0.5;
    }

    .drawer-link:hover {
        color: #145250;
    }

    .ant-drawer-header {
        background-color: #145250;
        color: white;
    }

    .ant-drawer .ant-drawer-header {
        padding: 5px 20px;
    }

    .ant-drawer .ant-drawer-header-title {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding-left: 13px;
    }

    .ant-drawer .ant-drawer-close {
        color: white;
    }

    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        font-family: "Poppins";
        font-size: "18px";
        padding: 0px;
    }

    .ant-drawer .ant-drawer-body {
        padding: 5px;
        background-color: #145250;
    }

    .table-container {
        padding: 5px;
    }

    .ant-table-cell {
        font-size: 12px;
    }

    .TR2 {
        width: 100%;
    }

    .cardz {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .ant-layout-content {
        margin-top: 20px;
    }

    .cont {
        margin-top: 20px;
    }

    .profileCard {
        padding: 2rem;
    }

    .profileTitle {
        font-size: 2.5rem;
    }

    .profileDetails {
        gap: 1rem;
    }

    .mobbt {
        display: block;
    }
}
@media screen and (max-width: 340px){

.box{
   flex-direction: column;
   justify-content: space-between;
}
.box1 button{
     width: 90px;
     font-size: 11px;
     margin-top: 20px;
     height: 30px;
}
    .modal1{
     width:60px;
    }    
}