.fds {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 1000px;
}

.twobox {
    display: "flex";
    flex-direction: "row";
    justify-content: "space-between"
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(10px);
    /* background-color: black; */
}

.formdes {
    padding: 20px;
}

.formdes2 {
    width: 600px;
    box-shadow: 3px 4px 12px 10px rgba(151, 150, 150, 0.1);
}

.formdesign {
    box-shadow: 3px 4px 12px 10px rgba(151, 150, 150, 0.1);
    width: 45%;
}

body,
.search,
.ant-modal,
.ant-btn {
    font-family: 'Poppins', sans-serif;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.custom {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.clr {
    color: #145250;
}

.linh {
    line-height: .3;
    margin-top: 10px;
}

.custom-s2earch .ant-input:hover {
    border-color: #145250 !important;
}

.custom-search .ant-btn {
    background-color: #145250;
    border-color: #145250;
}

.custom-search .ant-btn:hover {
    background-color: white !important;
    color: #145250 !important;
    border-color: #145250 !important;
}

.slidebar-1 {
    height: 370px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-image: url("https://th.bing.com/th/id/OIP.S4kfyvj45mft6mgfrB0xkQHaD-?w=340&h=182&c=7&r=0&o=5&dpr=1.4&pid=1.7");
    background-repeat: no-repeat;
    background-position: center;


    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    font-family: 'poppins';
}

.slidebar-2 {
    height: 370px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-image: url("https://png.pngtree.com/background/20230602/original/pngtree-blur-abstract-background-of-corner-book-on-bookshelves-in-bookstore-blurry-picture-image_2845930.jpg");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    font-family: 'poppins';
}

.slidebar-3 {
    height: 370px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-image: url("https://th.bing.com/th?id=OIP.W_Ws6-LXasydZYegGmRCnQHaE7&w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.4&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    font-family: 'poppins';
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 20px;
}

.TR1 {
    display: flex;
    background-color: #f3f3f3;
    padding: 15px;
    height: 180px;
    width: 24%;
    border-radius: 10px;
}


.highlight-row {
    background-color: rgba(255, 0, 0, 0.2);
}



.pin2 {
    background-color: #f3f3f3;
    color: white;
    width: 80px;
    height: 45px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
    margin-top: 30px;
}

.p0 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.p1 {
    display: flex;
    justify-content: space-between;
}

.p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #145250;
    color: white;
    width: 55px;
    height: 50px;
    padding: 8px;
    border-radius: 35%;
}

.pin2d {
    background-color: rgb(255, 255, 255, 0.5);
    color: white;
    width: 80px;
    height: 45px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 30px;
}

.p2d {
    background-color: rgb(255, 255, 255, 0.5);
    color: white;
    width: 55px;
    height: 50px;
    padding: 8px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.bt {
    background-color: #145250;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 14px;
}

.pro {
    box-shadow: 3px 4px 12px 10px rgba(151, 150, 150, 0.1);
    width: 1000px;
    height: 690px;
}

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-family: 'Poppins', sans-serif;
}

.profileCard {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 950px;
    max-width: 100%;
}

.profileDetails {
    flex: 1;
    margin-right: 3rem;
}

.profileTitle {
    color: #145250;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.profileLabel {
    display: flex;
    align-items: center;
    color: #555555;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.profileLabelIcon {
    margin-right: 0.75rem;
    color: #145250;
    font-size: 1.5rem;
}

.profileValue {
    color: #777777;
    margin-top: 0.75rem;
    font-size: 1.25rem;
}

.avatarContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.avatar {
    border: 2px solid #145250;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.logoutButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 1rem 1.5rem;
    margin: 0px 40px;
    background-color: #145250;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.logoutButton:hover {
    background-color: #145250;
}

.search.ant-input-outlined:hover {
    border: 1px solid #145250;
}

.search.ant-input-outlined {
    border: 1px solid #c7c7c7;
}


:where(.css-dev-only-do-not-override-qnu6hi).ant-spin .ant-spin-dot-holder {
    color: #145250;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>th {
    text-align: center;
    color: #145250;
}

.mobileHidden {
    height: 100vh;
    background-color: #145250;
}

.mobdraw {
    display: none;
}

.moblogo {
    display: none;
}

.menumobaHidden {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 74px;
}

.navmob {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobileHidden {
        display: none;
    }

    .menumobaHidden {
        display: none;
    }

    .moblogo {
        display: block;
    }

    .mobdraw {
        display: block;
    }

    .mobdraw:hover {
        background-color: #f2f2f2;
    }

    .menu-icon {
        color: #145250;
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .drawer-link {
        width: 260px;
        display: block;
        padding: 10px 20px;
        color: white;
        margin: 3px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;
        line-height: 0.5;
    }

    .drawer-link:hover {
        color: #145250;
    }

    .ant-drawer-header {
        background-color: #145250;
        color: white;
    }

    .ant-drawer .ant-drawer-header {
        padding: 5px 20px;
    }

    .ant-drawer .ant-drawer-header-title {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding-left: 13px;
    }

    .ant-drawer .ant-drawer-close {
        color: white;
    }

    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        font-family: "Poppins";
        font-size: "18px";
        padding: 0px;
    }

    .ant-drawer .ant-drawer-body {
        padding: 5px;
        background-color: #145250;
    }
}